name: assignments_test_maven
on: push
jobs:
  run_assignments_maven:
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - os: ubuntu-22.04
          - os: macos-12
          - os: windows-2022

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Clone cse1110/assignments
        uses: actions/checkout@v3
        with:
          repository: 'cse1110/assignments'
          path: 'assignments'
      - name: Compile and install Andy
        run: |
          mvn install -Dmaven.test.skip
      - name: Execute python script
        run: |
          python ./.github/scripts/assignments_test_maven.py
